
.large{
    font-size: 1.25em;
}

h3 {
    border-right: 2px solid white;
    height: 100% !important;
    padding-right: 0.5em;
}


form{
    width: 400px;
    padding-top: 5em;
}

#pass_error{
    font-size: 3em;
    width: fit-content !important;
}

#user_error{
    width: fit-content !important;
}

#circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}